@charset "UTF-8";

/* ---------------------------------------------------------------------
Project Name: Example
Client: Example
------------------------------------------------------------------------
*1. Reset
*2. Global styles / Variables
*3. Helper styles
*4. Grid styles
*5. Module styles
*6. Media Queries
----------------------------------------------------------------------- */

/* ==============================
	*1. Reset
================================= */

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%; 
		-ms-text-size-adjust: 100%;
			text-size-adjust: none;
}
body, textarea, input, button {
	font-family: sans-serif;
	font-kerning: normal;
}
body {
	
}

body,
p, h1, h2, h3, h4, h5, h6, 
div, ul, ol, li, dd, dt, dl, table, td, th
blockquote, address, hr, pre, 
article, aside, audio, canvas, details, figure, figcaption, footer, header, hgroup, 
iframe, main, menu, nav, section, summary, video,
form, fieldset, legend, label, input, textarea {
	margin: 0;
	padding: 0;
}

p, li, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 1em;
	-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
			text-size-adjust: none;
	/* -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing : grayscale; */
	
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
		hyphens: auto;
	-ms-hyphenate-limit-lines: 1;
	-ms-hyphenate-limit-chars: 6 3 3;
		hyphenate-limit-lines: 1; /* consecutive  */
		hyphenate-limit-chars: 6 3 3;		
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section { 
    display: block;
}
audio, video, canvas, progress {
	display: inline-block; vertical-align: baseline;
}

a, button {
	outline: none;
	outline-offset: 5em;
	transition: 1s ease outline-offset;
}
a {background-color: inherit;}
a:is(:hover, :active) {text-decoration: underline;}
a:visited {color: #509; /* background-color: #eee; */}
a:active, button:active {outline: none;}

:focus {outline: 0.1em dotted;  outline-offset: 0.1em;}
embed:focus, object:focus, a img {border: none;}

img, object, embed {max-width: 100%;} 
/*img {
	image-rendering: -moz-crisp-edges;
	image-rendering:   -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}*/
img:-moz-broken, img:-moz-user-disabled {display: none;}

abbr[title], dfn[title], q {cursor: help; border-bottom: 0.1em dotted;}
input[disabled], textarea[disabled], button[disabled] {cursor: not-allowed;}

label[for], button {cursor: pointer;}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0; padding: 0;
}

/* ==============================
	*2. Global styles / Variables
================================= */
:root {
	--color-accent-primary: #f90;
	--color-copy-primary: black;
	--color-background-primary: white;
	--color-background-secondary: #eee;
	--time-animation: 250ms; 
	--time-transition: 250ms;


	color: var(--color-copy-primary);
	background: var(--color-background-primary);
}


@media (prefers-color-scheme: dark) {
	:root {
		--color-copy-primary: white;
		--color-background-primary: black;
		--color-background-secondary: #333;
	}
}


/* is the display HD? */
@media (dynamic-range: high) {
	/* does this browser understand display-p3? */
	@supports (color: color(display-p3 0 0 0)) {
		--color-accent-primary: color(display-p3 1 0.6 0);   
  	}
}


/* ==============================
	*3. Helper styles
================================= */

/* visually hidden */
.hideText {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and
  (prefers-reduced-motion: reduce), 
  (update: slow) {
	  :root {
		  --animation-duration: 0.001ms !important; 
		  --transition-duration: 0.001ms !important;
 	 }
	 * {
		animation-duration: 0.001ms !important;
		animation-iteration-count: 1 !important; 
	    transition-duration: 0.001ms !important;
	 }
}

/* development */ 
#html:target::before, #html:target::after {
	content: "";
	font-size: 200%;
	position: fixed; top: 1em; left: 1em;
	width: 10em;
	padding: 0.5em;
	opacity: 0.8;
	
	border: 0.2em solid red;
	background: rgba(255, 50, 50, 0.6);
	font-weight: bold;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.2em #fff;
	z-index: 100;
}
#html:target::after {
	border-color: blue;
	background: rgba(50, 50, 255, 0.6);
	left: 14em;
}



/* ==============================
	*4. Grid styles
================================= */


/* ==============================
	*5. Module styles
================================= */

.wrapper {
	margin-block: 3em;
	margin-inline: auto;
	border: solid var(--color-accent-primary);
	max-width: 80%;
	padding: 2em;	
	background: var(--color-background-secondary);
}
.wrapper__headline {
	font-size: 2em;
	color: var(--color-accent-primary);
}
	
/* ==============================
	*6. Media Queries
================================= */

@media (min-width: 30em){#html:target::before {content: ">= 480px"; }}
@media (min-width: 48em){#html:target::before {content: ">= 768px"; }}
@media (min-width: 64em){#html:target::before {content: ">= 1024px"; }}
@media (min-width: 75em){#html:target::before {content: ">= 1200px"; }}
@media (min-width: 100em){#html:target::before {content: ">= 1600px"; }}


	
	
